@using Blogifier.Core.Common
<!DOCTYPE html>
<html lang="en">
@Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Head.cshtml")
<body>
  <div class="bf">
    @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Taskbar.cshtml")
    <div class="bf-header d-flex d-lg-none">Posts <i class="fa fa-sliders"></i></div>
    <div class="bf-body">
      <div class="bf-sidebar d-lg-block">
        @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_PostsFilters.cshtml")
      </div>
      <div class="bf-content bf-page-posts">
        @RenderBody()
      </div>
    </div>
  </div>
  @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Foot.cshtml")
  @RenderSection("Scripts", false)
</body>
</html>
