@model Blogifier.Core.Data.Models.AdminEditorModel
@using Blogifier.Core.Common
@{
    var postCover = string.IsNullOrEmpty(Model.BlogPost.Image) ? Model.Profile.Image : Model.BlogPost.Image;
    if (string.IsNullOrEmpty(postCover)) { postCover = ApplicationSettings.PostImage; }
}
<div id="post-edit" class="bf-editor">

    <form id="frmEditor" class="bf-editor-form">
      <!-- Editor Header -->
      <div class="bf-editor-header bf-editor-cover" style="background-image:url(@postCover);">
          <div class="container">
            <textarea class="bf-editor-title" id="txtPostTitle" rows="1" placeholder="Post title..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus>@Model.BlogPost.Title</textarea>
          </div>
      </div>
      <!--/Editor Header -->
      <!-- Editor -->
      <textarea id="txtContent" name="txtContent" class="form-control form-control-text" placeholder="Post Content...">@Model.BlogPost.Content</textarea>
      <input type="hidden" id="hdnPostId" name="hdnPostId" value="@Model.BlogPost.Id" />
      <input type="hidden" id="hdnPostSlug" name="hdnPostSlug" value="@Model.BlogPost.Slug" />
      <input type="hidden" id="hdnPostImg" name="hdnPostImg" value="@Model.BlogPost.Image" />
      <input type="hidden" id="hdnPublished" name="hdnPublished" value="@Model.BlogPost.Published" />
      <!--/Editor -->
    </form>

    <!-- Editor Footer -->
    <div class="bf-editor-footer">
      <div class="container d-flex">
        <span id="action-buttons" class="mr-2"></span>
        <a href="~/admin" class="btn btn-outline-secondary btn-rounded">Cancel</a>
        <div class="loading loading-sm ml-3"><div class="loading-dot-1"></div><div class="loading-dot-2"></div><div class="loading-dot-3"></div></div>
        <div class="btn-group ml-auto">
          <button class="btn btn-rounded btn-icon btn-outline-secondary" data-tooltip title="Cover" onclick="return fileManagerController.open(updatePostCoverCallback);"><i class="fa fa-photo"></i></button>
          <button class="btn btn-rounded btn-icon btn-outline-secondary" data-tooltip title="Category" data-toggle="modal" data-target="#postCategories"><i class="fa fa-folder-open"></i></button>
          <button class="btn btn-rounded btn-icon btn-outline-secondary" data-tooltip title="Description" data-toggle="modal" data-target="#postDescription"><i class="fa fa-align-justify"></i></button>
        </div>
      </div>
    </div>
    <!--/Editor Footer -->

</div>

<!-- Modal Category -->
<div class="modal fade" id="postCategories" tabindex="-1" role="dialog" aria-labelledby="postCategoriesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="postCategoriesLabel">Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body bf-editor-category">
        <form id="frmCategory">
            <input type="text" id="txtCategory" title="Type and Enter" autocomplete="off" onkeypress="editorController.categoryKeyPress(event)" class="form-control" placeholder="Category Name..." autofocus />
        </form>
        <ul id="edit-categories">
          @foreach (var category in Model.CategoryList)
          {
            <li id="cat-@category.Value">
              <label class="custom-control custom-checkbox">
                @if (category.Selected)
                {
                  <input type="checkbox" id="cbx-@category.Value" value="@category.Value" checked="checked" class="custom-control-input">
                }
                else
                {
                  <input type="checkbox" id="cbx-@category.Value" value="@category.Value" class="custom-control-input">
                }
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">@category.Text</span>
              </label>
              <i class="fa fa-times" aria-label="Delete" data-tooltip data-placement="right" title="Delete @category.Text" onclick="editorController.removeCategory('@category.Value')"></i>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal Description -->
<div class="modal fade" id="postDescription" tabindex="-1" role="dialog" aria-labelledby="postDescriptionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="postDescriptionLabel">Description</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
      </div>
      <div class="modal-body">
        <textarea rows="6" id="txtDescription" class="form-control" autofocus>@Model.BlogPost.Description</textarea>
      </div>
    </div>
  </div>
</div>

@Html.Partial("~/Views/Blogifier/Admin/OneThree/_Shared/_FileManager.cshtml")
@section Scripts{
    <script>
        var textarea = document.getElementById("txtPostTitle");
        var limit = 200;

        textarea.oninput = function () {
            textarea.style.height = "";
            textarea.style.height = Math.min(textarea.scrollHeight, 300) + "px";
        };
    </script>
    <script src="~/blogifier/admin/onethree/js/lib/autosize.min.js"></script>
    <script src="~/blogifier/admin/onethree/js/lib/tinymce/tinymce.min.js"></script>
    <script src="~/blogifier/admin/onethree/js/app/fileManagerController.js"></script>
    <script src="~/blogifier/admin/onethree/js/app/editorController.js"></script>
    <script>
        autosize($('#txtPostTitle'));

        editorController.loadPostImage();
        editorController.loadActionButtons();

        var insertImageCallback = function (data) {
            if (data.assetType === 0) {
                tinymce.activeEditor.execCommand('mceInsertContent', false, '<img src="' + data.url + '" />');
            }
            else {
                var tag = '<a class="download" href="' + data.url + '">' + data.title + ' (' + humanFileSize(data.length) + ')</a>';
                tinymce.activeEditor.execCommand('mceInsertContent', false, tag);
            }
        }
        var updatePostCoverCallback = function (data) {
            $('.bf-editor-cover').css('background-image', 'url(' + data.url + ')');
            $('#hdnPostImg').val(data.url);
            toastr.success('Updated');
        }

        $(window).on("load", function () {
            var stickyNavTop = 57;
            var stickyNav = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > stickyNavTop && $(window).width() <= 880) {
                    $(".mce-tinymce").addClass('sticky');
                } else {
                    $(".mce-tinymce").removeClass('sticky');
                }
            };
            stickyNav();
            $(window).scroll(function () {
                stickyNav();
            });
        });
    </script>
}
