@model Blogifier.Core.Data.Models.AdminPostsModel
@using Blogifier.Core.Common;
@{
    Layout = "~/Views/Blogifier/Admin/OneThree/_Layout/_Posts.cshtml";

    var pgr = Model.Pager;
    var cntFrom = pgr.CurrentPage == 1 ? 1 : (pgr.CurrentPage - 1) * pgr.ItemsPerPage + 1;
    var cntTo = pgr.CurrentPage * pgr.ItemsPerPage < pgr.Total ? pgr.CurrentPage * pgr.ItemsPerPage : pgr.Total;
    var curPost = 0;
    var searchTerm = Context.Request.Query["search"];
    var user = Context.Request.Query["user"];
    if (string.IsNullOrEmpty(user))
    {
        user = "0";
    }
}

<div class="bf-page-posts">
  <div class="bf-posts-toolbar d-flex">
      <label class="custom-control custom-checkbox my-auto mr-3"><input class="custom-control-input item-checkbox" type="checkbox" name="selectAll"><span class="item-control custom-control-indicator"></span></label>
      <div class="btn-group mr-3">
        <button type="button" class="btn btn-outline-secondary btn-icon btn-sm btn-rounded" data-toggle="tooltip" onclick="return postsController.removePost()" title="Delete"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-icon btn-sm btn-rounded" data-toggle="tooltip" onclick="return postsController.unpublish()" title="Unpublish"><i class="fa fa-archive"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-icon btn-sm btn-rounded" data-toggle="tooltip" onclick="return postsController.publish()" title="Publish"><i class="fa fa-check"></i></button>
      </div>
      <div class="loading loading-sm mr-3"><div class="loading-dot-1"></div><div class="loading-dot-2"></div><div class="loading-dot-3"></div></div>

      <select class="custom-select custom-select-rounded ml-auto mr-3">
        <option value="0" selected>10</option>
        <option value="1">15</option>
        <option value="2">20</option>
        <option value="3">30</option>
        <option value="4">50</option>
      </select>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary btn-icon btn-sm btn-rounded" data-toggle="tooltip" onclick="" title="Card Style"><i class="fa fa-list"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-icon btn-sm btn-rounded" data-toggle="tooltip" onclick="" title="Card Style"><i class="fa fa-th"></i></button>
      </div>
  </div>
  <ul class="bf-posts-list" aria-label="posts">
      @if (!string.IsNullOrEmpty(searchTerm))
      {
          <li class="item item-search">
              <a href="~/admin"><i class="fa fa-chevron-left"></i><span>Search Resault: @searchTerm</span></a>
          </li>
      }
      @foreach (var item in Model.BlogPosts)
      {
          var publishedLbl = item.Published == DateTime.MinValue ? "" : item.Published.ToString("MMM dd, yyyy");
          var publishedClass = item.Published == DateTime.MinValue ? "item-status-draft" : "item-status-published";
          if (curPost == 0) { curPost = item.BlogPostId; }
          <li class="post-item d-flex">
              <label class="item-select custom-control custom-checkbox mr-3 my-auto"><input type="checkbox" id="@item.BlogPostId" class="item-checkbox custom-control-input"><span class="item-control custom-control-indicator"></span></label>
              <a class="item-link" href="~/admin/editor/@item.BlogPostId?user=@user">@item.Title</a>
              <span class="item-status @publishedClass ml-auto my-auto"><i class="fa fa-circle"></i></span>
              <!-- <span class="item-info-views">@item.PostViews Views</span> -->
              <span class="item-info-date my-auto ml-3">@publishedLbl</span>
              @if (Model.Profile.IsAdmin) {
              <button class="btn-unstyled item-favorite my-auto ml-3" onclick="postsController.featured('@item.BlogPostId', this)"> @if (item.IsFeatured) { <i class="fa fa-star"></i> } else { <i class="fa fa-star-o"></i> } </button>
              }
              <a class="item-show my-auto ml-3" href="~/@ApplicationSettings.BlogRoute@item.Slug" target="_blank" role="button"><i class="fa fa-chevron-right"></i></a>
          </li>
      }
      @if (Model.BlogPosts.Count() == 0)
      {
          <li class="item item-empty">
              No posts found.
          </li>
      }
  </ul>
  @if (pgr.ShowNewer || pgr.ShowOlder)
  {
      <ul class="bf-posts-pagination">
          @if (pgr.ShowOlder)
          {
              <li class="item"><a class="item-link" href="~/admin?page=@pgr.Older"><i class="fa fa-chevron-left"></i></a></li>
          }
          @if (pgr.ShowNewer)
                  {
              <li class="item"><a class="item-link" href="~/admin?page=@pgr.Newer"><i class="fa fa-chevron-right"></i></a></li>
          }
          <li class="item"><span class="item-count">@cntFrom-@cntTo out of @pgr.Total</span></li>
      </ul>
  }
</div>

@Html.Partial("~/Views/Blogifier/Admin/OneThree/_Shared/_FileManager.cshtml")
@section Scripts{
    <script src="~/blogifier/admin/onethree/js/app/postsController.js"></script>
    <script>
        var submitFilter = function () {
            $('#frmPostFilter').submit();
        }
    </script>
}
